/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl end */
/* ../../desktop.blocks/page/_theme/page_theme_normal.styl begin */
.page_theme_normal {
  font: 22px/24px PragmataPro, Monaco, Consolas, monospace;
}
/* ../../desktop.blocks/page/_theme/page_theme_normal.styl end */
/* ../../desktop.blocks/slides/slides.styl begin */
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ../../desktop.blocks/slides/slides.styl end */
/* ../../desktop.blocks/slide/slide.styl begin */
.slide {
  display: none;
  position: relative;
  padding: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.slide h1,
.slide h2,
.slide h3,
.slide h4 {
  font-weight: normal;
  padding: 0 0 0.5em 0;
  margin: 0;
}
.slide h1 {
  font-size: 210%;
  line-height: 2.1;
}
.slide h2 {
  font-size: 190%;
  line-height: 1.9;
}
.slide h3 {
  font-size: 170%;
  line-height: 1.7;
}
.slide h4 {
  font-size: 150%;
  line-height: 1.5;
}
/* ../../desktop.blocks/slide/slide.styl end */
/* ../../desktop.blocks/slide/_current/slide_current.styl begin */
.slide_current {
  display: block;
}
/* ../../desktop.blocks/slide/_current/slide_current.styl end */
/* ../../desktop.blocks/slide/__side-by-side/slide__side-by-side.styl begin */
.slide__side-by-side {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  font-size: 100%;
  width: 100%;
}
.slide__side-by-side td {
  text-align: center;
  width: 50%;
  vertical-align: middle;
}
/* ../../desktop.blocks/slide/__side-by-side/slide__side-by-side.styl end */
/* ../../desktop.blocks/slide/_image/slide_image.styl begin */
.slide_image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.slide_image h1,
.slide_image h2,
.slide_image h3,
.slide_image h4,
.slide_image h5 {
  background-color: rgba(255,255,255,0.7);
  padding: 6px 0;
}
/* ../../desktop.blocks/slide/_image/slide_image.styl end */
/* ../../desktop.blocks/yajsh/yajsh.styl begin */
/* ../../node_modules/yajsh/lib/html.styl begin */
.yajsh {
  color: rgba(0,0,0,0.8);
  background-color: #fefefe;
  font-family: PragmataPro, Monaco, Consolas, monospace;
  padding: 0;
  margin: 0;
}
.yajsh .comment {
  color: rgba(0,0,0,0.54);
}
.yajsh .comment > .punctuation {
  color: rgba(0,0,0,0.26);
}
.yajsh .punctuation {
  color: rgba(0,0,0,0.54);
}
.yajsh .op {
  color: rgba(0,0,0,0.54);
}
.yajsh .name {
  color: rgba(0,0,0,0.87);
}
.yajsh .obj,
.yajsh .null {
  color: #9c27b0;
}
.yajsh .obj > .name,
.yajsh .null > .name {
  color: #9c27b0;
}
.yajsh .obj > .punctuation,
.yajsh .null > .punctuation {
  color: rgba(156,39,176,0.6);
}
.yajsh .arr {
  color: #e91e63;
}
.yajsh .arr > .punctuation {
  color: rgba(233,30,99,0.6);
}
.yajsh .re .str {
  color: #cddc39;
}
.yajsh .re .punctuation {
  color: rgba(205,220,57,0.6) !important;
}
.yajsh .bool {
  color: #00bcd4;
}
.yajsh .num {
  color: #ff5722;
}
.yajsh .num > .punctuation {
  color: rgba(255,87,34,0.6);
}
.yajsh .str {
  color: #009688;
}
.yajsh .str .punctuation {
  color: rgba(0,150,136,0.6);
}
.yajsh .str .esc {
  font-weight: bold;
}
.yajsh .this {
  font-weight: bold !important;
}
.yajsh .get-sb > .punctuation {
  font-weight: bold;
  color: #5677fc;
}
.yajsh .get-dot > .punctuation {
  color: #5677fc;
}
.yajsh .call > .punctuation {
  font-weight: bold;
  color: #5677fc;
}
.yajsh .new > .keyword:first-child {
  color: #056f00;
  font-weight: normal !important;
}
.yajsh .new > .new-call > .punctuation {
  font-weight: bold;
  color: rgba(5,111,0,0.6);
}
.yajsh .func > .keyword {
  color: #056f00;
}
.yajsh .func > .name,
.yajsh .func > .arg > .name {
  color: #259b24;
}
.yajsh .func > .punctuation {
  color: rgba(37,155,36,0.6);
}
.yajsh .var > .keyword:first-child {
  color: #056f00;
}
.yajsh .var > .name {
  color: #259b24;
}
.yajsh .var > .punctuation {
  color: rgba(37,155,36,0.6);
}
.yajsh .if > .keyword,
.yajsh .switch > .keyword {
  font-weight: bold;
  color: #9e9d24;
}
.yajsh .if > .punctuation,
.yajsh .switch > .punctuation {
  color: rgba(158,157,36,0.6);
}
.yajsh .for > .keyword,
.yajsh .while > .keyword,
.yajsh .do > .keyword {
  font-weight: bold;
  color: #795548;
}
.yajsh .for > .punctuation,
.yajsh .while > .punctuation,
.yajsh .do > .punctuation {
  color: rgba(121,85,72,0.6);
}
.yajsh .try > .keyword {
  font-weight: bold;
  color: #e51c23;
}
.yajsh .try > .punctuation {
  color: rgba(229,28,35,0.6);
}
.yajsh .try > .name {
  color: #259b24;
}
.yajsh .throw > .keyword {
  color: #e51c23;
}
.yajsh .return > .keyword:first-child {
  color: #ff5722;
}
.yajsh .break > .keyword,
.yajsh .continue > .keyword {
  color: #ff5722;
}
.yajsh .break > .name,
.yajsh .continue > .name {
  color: rgba(255,87,34,0.6);
}
.yajsh .stmt > .keyword:first-child,
.yajsh .stmt > * > .keyword:first-child {
  font-weight: bold;
}
.yajsh .stmt > .expr-stmt > .keyword:first-child {
  font-weight: normal;
}
/* ../../node_modules/yajsh/lib/html.styl end */
.yajsh {
  padding: 0.7em 0;
  font-size: 150%;
  line-height: 1.2;
}
.slide__side-by-side .yajsh {
  text-align: left;
}
/* ../../desktop.blocks/yajsh/yajsh.styl end */
