.slide {
    display: none;
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;

    h1, h2, h3, h4 {
        font-weight: normal;
        padding: 0 0 0.5em 0;
        margin: 0;
    }

    h1 {
        font-size: 210%;
        line-height: 2.1;
    }

    h2 {
        font-size: 190%;
        line-height: 1.9;
    }

    h3 {
        font-size: 170%;
        line-height: 1.7;
    }

    h4 {
        font-size: 150%;
        line-height: 1.5;
    }
}
