.slide__side-by-side {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    font-size: 100%;
    width: 100%;

    td {
        text-align: center;
        width: 50%;
        vertical-align: middle;
    }
}
